@import url('https://fonts.googleapis.com/css?family=Lato:400,700&display=swap');

.footer {
  width: 100%;
  background-color: #BBDEFB;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 4px;
}

.footer-wrapper {
  padding: 8px 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.footer-copyrights {
  padding: 6px;
  font-size: 14px;
  color: #2b2b2b;
}

.links-wrapper {
  margin-right: 20px;
  display: flex;
  justify-content: space-around;
  text-transform: uppercase;
}

.links {
  margin: 0;
  padding: 0;
  font-size: 24px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  list-style-type: none;
}

.navigation-link {
  margin: 0 3px;
}

a.link-nav {
  padding: 0 10px;
  font-size: 22px;
  color: #2b2b2b;
  text-decoration: none;
}

a.link-nav:hover {
  border-bottom: 3px solid #1976D2;
}
